#contact-submit{
  background-color: $orange;
  border: none;
  &:active{
    border: none;
    background-color: $orange;
  }
  &:hover{
    background-color: $hover-orange;
    outline: none;
    box-shadow: none;
  }
}

.form-group {
  .form-control {
    &:focus {
      overflow: hidden;
      box-shadow: none;
      border-color: $orange;
    }
  }
}