// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

//Resets
@import 'reset';

@import 'home.scss';

@import '_header.scss';

@import 'weather';

@import 'contact-us';

@import 'preloader';

@import '_comments.scss';

body{
  font-family: Roboto, sans-serif;
  background: $bg;
}

a{
  text-decoration: none;

}