// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

//Resets
@import 'reset';

@import 'home.scss';

body{
  font-family: Roboto, sans-serif;
  background: #f2f2f2;
}

a{
  text-decoration: none;

}